<template>
  <div>
    <h1>{{ msg }}</h1>
    <i v-if="people.length <= 0" class="fas fa-spin fa-spinner"></i>
    <div v-if="people.length > 0">
      <ul>
        <li v-for="person of people" :key="person.name">
          <router-link :to="showUrl(person)">{{ person.name }}</router-link>
        </li>
      </ul>
      <div class="pagination">
        <div>
          <router-link v-if="response.previous" :to="prevPageUrl()" class="btn">Previous</router-link>
        </div>
        <div>
          <router-link v-if="response.next" :to="nextPageUrl()" class="btn">Next</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as services from '@/misc/services'
import * as utils from '@/misc/utils'

export default {
  name: 'index',
  data () {
    return {
      response: {},
      previous: '',
      next: '',

      people: [],
      errors: [],

      msg: 'Welcome to STAR WARS'
    }
  },

  created () {
    this.init()
  },

  watch: {
    $route (to, from) {
      this.people = []
      this.init()
    }
  },

  methods: {
    init () {
      let { page } = this.$route.params
      page = page || 1

      services.index(page)
        .then(response => {
          this.response = response.data
          this.people = response.data.results
          this.previous = response.data.previous
          this.next = response.data.next
        })
        .catch(e => {
          this.errors.push(e)
        })
    },

    showUrl (person) {
      return {
        name: 'show',
        params: {
          id: utils.replaceLink(person.url).replace(/\D/g, '')
        }
      }
    },
    prevPageUrl () {
      return {
        name: 'index',
        params: {
          page: utils.replaceLink(this.previous).replace(/\D/g, '')
        }
      }
    },
    nextPageUrl () {
      return {
        name: 'index',
        params: {
          page: utils.replaceLink(this.next).replace(/\D/g, '')
        }
      }
    }
  }
}
</script>

<style scoped>
ul { list-style-type: none; padding: 0; margin: 0 0 5px; display: flex; flex-wrap: wrap; }
ul li { display: inline-block; margin: 0 5px 5px 0; border: 2px solid #F2E75C; align-content: center; }
ul li a { display: table-cell; width: 180px; height: 180px; vertical-align: middle; color: #fff; padding: 10px; text-decoration: none; transition: all .3s; text-align: center; position: relative; z-index: 1; }
ul li a:hover  { color: #F2E75C; font-weight: 900; transform: scale(1.2); }

.pagination { display: flex; justify-content: space-between; }
</style>
