<template>
  <div>
    <div v-if="person">
      <a class="btn" @click="$router.go(-1)">Back</a><br>

      <h1>{{ person.name }}</h1>
      <p v-for="(value, key) of person" :key="key">
        <strong>{{ setKey(key) }}:</strong> {{ setValue(value, key) }}
      </p>
    </div>
    <i v-if="person.length <= 0" class="fas fa-spin fa-spinner"></i>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import * as services from '@/misc/services'

export default {
  name: 'show',
  data () {
    return {
      response: {},
      person: []
    }
  },

  created () {
    const { id } = this.$route.params

    services.show(id)
      .then(response => {
        this.response = response.data
        this.person = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
  },

  methods: {
    setKey (key) {
      return key.replace('_', ' ')
    },

    setValue (value, key = '') {
      const keyDate = ['created', 'edited']

      if (_.isArray(value)) {
        return _.join(value, ', ') || '-'
      } else if (_.indexOf(keyDate, key) >= 0) {
        return moment(value).format('Do MMMM YYYY, h:mm:ss a')
      }

      return value
    }
  }
}
</script>

<style scoped>
strong { text-transform: capitalize; }
</style>
