<template>
  <div id="app">
    <div id="logo">
      <img src="https://seeklogo.com/images/S/Star_Wars-logo-2B2C24F703-seeklogo.com.png">
    </div>
    <div id="content">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

html, body { height: 100%; min-height: 100%; }
img { max-width: 100%; }
#app { min-height: 100%; font-family: sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #fff; background-color: #000; }
#logo { position: fixed; top: 0; left: 0; width: 100px; padding: 0 10px; }
#content { padding: 100px 15px 30px; overflow: hidden; }
.btn { border: 2px solid #F2E75C; border-radius: 99px; padding: 10px 20px; color: #000; background: #F2E75C; text-decoration: none; font-weight: bold; cursor: pointer; display: inline-block; }
</style>
